<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a class="logo" href="/"><h1>MADING SEKOLAH</h1></a>
      <div>
        <a class="tombol" href="/tulis-mading">KELOLA MADING</a>
        <a class="tombol" href="/tulis-mading">TULIS MADING</a>
        <a class="tombol" href="/login">LOGIN</a>
      </div>
    </header>
  </body>
</html>
