<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <th>Post ID</th>
            <th>Judul</th>
            <th>Thumbnail</th>
            <th>Isi</th>
            <th>Penulis</th>
            <th>Waktu</th>
        </th>
        <tr>
            <td>1</td>
            <td>Judul Post 1</td>
            <td><img src="https://via.placeholder.com/100" alt="Thumbnail"></td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae ante eu erat cursus ultrices. Sed sed finibus ante, vitae gravida orci. Nunc turpis tortor, efficitur vitae pulvinar vel, congue in diam.</td>
            <td>Penulis 1</td>
            <td>2023-07-20</td>
        </tr>
    </table>
</body>
</html>