<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tulis Mading</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--NavBar-->
    <%- include('header'); %>

    <div class="tulis-mading mh100">
      <h1>Ada Ide Menarik Apa Hari Ini?</h1>

      <hr />
      <br>
        <div class="form">
          <form action="/tulis-mading" method="post" enctype="multipart/form-data">
            <label for="judul">Judul</label>
            <input
              class="judul"
              type="text"
              placeholder="Masukan Judul"
              name="madingJudul" />
            <br>
            <label for="caption">Isi Mading</label>
            <textarea placeholder="Masukan Caption" name="madingIsi"></textarea>
            <br>
            <label for="gambar">Gambar</label>
            <input type="file" name="image" id="image" accept="image/*" title="" />
            <br>
            <input class="button-submit" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <!--Footer-->
    <%- include('footer'); %>
  </body>
</html>

